[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
flask-mongoengine = "*"
flask-login = "*"
pymongo = "==3.4.0"
python-dotenv = "*"
passlib = "*"

[requires]
python_version = "3.7"
